<h1> Reactive Forms </h1>

<form [formGroup]="formGroup">
  <div class="input-wrapper">
    <app-signal-input [label]="'Username'" [formControlName]="'username'" [type]="'text'"/>
  </div>
  <div class="input-wrapper">
    <app-signal-input [label]="'Password'" [formControlName]="'password'" [type]="'password'"/>
  </div>
  <div class="input-wrapper">
    <app-signal-input [label]="'Reenter Password'" [formControlName]="'recheckPassword'" [type]="'password'"/>
  </div>
</form>

@if (formGroup.dirty) {
  @if (formGroup.invalid){
    <h3 class="error-message">
      Form is invalid
    </h3>
  } @else {
    <h3 class="success-message">
      Form is valid
    </h3>
  }
}

<pre>Form Value {{ form().value() | json }}</pre>

<button class="submit" (click)="onSubmit()">Submit</button>

<div>
  <h4>Features:</h4>
  <ul>
    <li> Migration from reactive forms to signal forms</li>
    <li> Utilize the new FormControlValue instead of ControlValueAccessor </li>
  </ul>
</div>
